/* Fonts */
@font-face { font-family: "Borda"; font-weight: 300; src: url( "../resources/fonts/Borda Light.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 300; src: url( "../resources/fonts/Borda Light Italic.ttf" ) }
@font-face { font-family: "Borda"; src: url( "../resources/fonts/Borda.ttf" ) }
@font-face { font-family: "Borda Italic"; src: url( "../resources/fonts/Borda Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 500; src: url( "../resources/fonts/Borda Medium.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 500; src: url( "../resources/fonts/Borda Medium Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 600; src: url( "../resources/fonts/Borda DemiBold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 600; src: url( "../resources/fonts/Borda DemiBold Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: bold; src: url( "../resources/fonts/Borda Bold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: bold; src: url( "../resources/fonts/Borda Bold Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 800; src: url( "../resources/fonts/Borda ExtraBold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 800; src: url( "../resources/fonts/Borda ExtraBold Italic.ttf" ) }

:root {
    --margin: 3vh;
    --circle_size: 9vh;
    --code-color: yellow;
    --role-color: #00c3ff;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Borda;
}

p {
    font-size: 2.5vh;
}

/* HUD */
#hud {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#circle {
    position: absolute;
    left: var(--margin);
    bottom: var(--margin);
    width: var(--circle_size);
    height: var(--circle_size);
    background-color: var(--code-color);
    border-radius: 50%;
    border: 0.5vh solid rgba(27, 27, 27, 1);
    box-shadow: inset 0 0 calc(var(--circle_size) * 0.2) rgba(27, 27, 27, 0.9);
    /* filter: drop-shadow(0 0 calc(var(--circle_size) * 0.1) rgba(27, 27, 27, 0.75)); */
}

#collected-loot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--circle_size) * 0.4);
    font-weight: bold;
}

#code-name {
    position: absolute;
    left: calc(var(--margin) + (var(--circle_size) * 0.5));
    bottom: calc((var(--circle_size) * 1.2) + var(--margin));
    transform: translateX(-50%);
    width: fit-content;
    font-size: calc(var(--circle_size) * 0.3);
    font-weight: bold;
    text-shadow: 1px 1px 0.25vh rgb(26, 26, 26);
    color: var(--code-color);
}

#role, #spectating, #target {
    position: absolute;
    right: var(--margin);
    bottom: var(--margin);
    font-size: 3vh;
    font-weight: bold;
    color: var(--role-color);
    text-shadow: 1px 1px 0.25vh rgba(27, 27, 27, 0.5);
}

#spectating {
    right: 50%;
    transform: translateX(50%);
    padding: 0 var(--margin);
    background-color: rgba(245, 245, 245, 0.212);
    border-radius: 1vh;
    display: none;
}

#target {
    position: absolute;
    display: none;
    right: unset;
    bottom: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
}

/* Round */
#round-container {
    position: absolute;
    display: flex;
    left: var(--margin);
    top: var(--margin);
    width: fit-content;
    flex-direction: column;
    padding: 0.5vh calc(var(--margin) * 0.5);
    background-color: #12181d77;
    border-radius: 1vh;
    border-top: solid 0.5vh #000000;
    border-bottom: solid 0.5vh #000000;
}

#round, #round-time {
    width: fit-content;
    font-size: 2vh;
    font-weight: bold;
    color: #ecf0f1;
    text-shadow: 1px 1px 0.25vh rgba(27, 27, 27, 0.5);
}

#round-time {
    top: calc(var(--margin) + 2.5vh);
    font-size: 1.8vh;
    font-weight: unset;
}

/* 

    WINNER UI

*/

#end-game {
    display: none;
}

#game-over, #end-game-text {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 5vh;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color:#ecf0f1;
}

#end-game-text {
    width: 100%;
    text-align: center;
    top: 14%;
    font-size: 7vh;
    color:#f39c12;
    text-transform: uppercase;
}

/* 

    MISC

*/

#tk-blind-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
}

/* 

    START SCREEN

*/

#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
}

#start-screen-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 10vh;
    font-weight: bold;
    color: #ecf0f1;    
}

#start-screen-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: bold;
    color: #f39c12;
}

/* 

    SCOREBOARD

*/

#scoreboard {

}