/* Fonts */
@font-face { font-family: "Borda"; font-weight: 300; src: url( "../resources/fonts/Borda Light.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 300; src: url( "../resources/fonts/Borda Light Italic.ttf" ) }
@font-face { font-family: "Borda"; src: url( "../resources/fonts/Borda.ttf" ) }
@font-face { font-family: "Borda Italic"; src: url( "../resources/fonts/Borda Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 500; src: url( "../resources/fonts/Borda Medium.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 500; src: url( "../resources/fonts/Borda Medium Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 600; src: url( "../resources/fonts/Borda DemiBold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 600; src: url( "../resources/fonts/Borda DemiBold Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: bold; src: url( "../resources/fonts/Borda Bold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: bold; src: url( "../resources/fonts/Borda Bold Italic.ttf" ) }
@font-face { font-family: "Borda"; font-weight: 800; src: url( "../resources/fonts/Borda ExtraBold.ttf" ) }
@font-face { font-family: "Borda Italic"; font-weight: 800; src: url( "../resources/fonts/Borda ExtraBold Italic.ttf" ) }

:root {
    --margin: 3vh;
    --roundness: 0.35vh;

    --text-color: #dbe5e7;
    --bg-color: #303030e5;
    --bg-color-2: #1f1f1fe0;
    --shadow-color: #00000086;
    --main-color: #f39c12;
    --main-color-2: #d18812;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Borda;
    color: var(--text-color);
    font-size: 1.6vh;
    text-shadow: 0.1vh 0.1vh 0.2vh var(--shadow-color);
    user-select: none;
}

::-webkit-scrollbar {
    width: 0.5vh;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5vh 0.5vh var(--bg-color);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.5vh 0.5vh var(--main-color);
}

.l-container, .r-container {
    --container-color: var(--text-color);
    display: flex;
    flex-direction: row;
    padding: 0.5vh;
    overflow: hidden;
}

.l-container {
    border-left: solid 0.6vh var(--container-color);
    border-radius: 0 var(--roundness) var(--roundness) 0;
    background: linear-gradient(90deg, var(--container-color) -150%, var(--bg-color) 50%);
}

.r-container {
    border-right: solid 0.6vh var(--container-color);
    border-radius: var(--roundness) 0 0 var(--roundness);
    background: linear-gradient(-90deg, var(--container-color) -150%, var(--bg-color) 50%);
}

.hud-icon {
    color: var(--text-color);
    font-size: 1.8vh;
    margin: 0 0.4vh;
}

.hud-text {
    position: relative;
    color: var(--text-color);
    font-size: 1.6vh;
    margin: 0 0.4vh;
    opacity: 0.75;    
}

/*
    HUD
*/
#hud {
    position: absolute;
    left: var(--margin);
    bottom: var(--margin);
}

/*
    Keys Tips
*/
#keys-tips {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    right: var(--margin);
    top: 50%;
    height: fit-content;
    translate: translateY(-50%);
    /* background-color: var(--main-color-2); */
}

.key-icon {
    position: relative;
    width: 3vh;
    height: 3vh;
    background-image: url( "assets://nanos-world/Textures/ControllerKeyPrompts/KeyboardMouse/Dark/F_Key_Dark.png" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*
    HUD (misc)
*/
#spectating, #spectating-disclose, #target {
    display: none;
    position: absolute;
    right: var(--margin);
    bottom: var(--margin);
    font-size: 3vh;
    font-weight: bold;
}

#spectating {
    right: 50%;
    transform: translateX(50%);
    padding: 0 var(--margin);
    background: repeating-linear-gradient(
        45deg,
        var(--bg-color),
        var(--bg-color) 1vh,
        var(--bg-color-2) 1vh,
        var(--bg-color-2) 2vh
    );
    border-radius: var(--roundness);
}

#target {
    right: unset;
    bottom: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
}

@keyframes disclose-anim {
	from { transform: translate(50%, 1); }
	to { transform: translate(50%, -1vh); }
}

#spectating-disclose {
    position: absolute;
    text-align: center;
    right: 50%;
    font-size: 2.5vh;
    transform: translateX(50%);
    width: 60vh;
    color: var(--main-color);
    top: var(--margin);

    animation-name: disclose-anim;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*

    Round

*/
#round-container {
    position: absolute;
    left: var(--margin);
    top: var(--margin);
}

/*
    Game End
*/
#end-game {
    display: none;
}

#game-over, #end-game-text {
    position: absolute;
    left: 50%;
    top: 14%;
    font-size: 5vh;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color:#ecf0f1;
}

#end-game-text {
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: 7vh;
    color:var(--main-color);
    text-transform: uppercase;
}

/*
    Round Overview
*/
#round-overview {
    display: none;
    width: 70vh;
    height: 40vh;
}

#round-overview-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*
    MISC
*/

#tk-blind-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
}

/* 
    START SCREEN
*/

#start-screen, #waiting-players {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
}

#waiting-players {
    background-color: #0000007a;
}

#start-screen-title, #waiting-players-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 7vh;
    font-weight: bold;
    color: #ecf0f1;    
}

#start-screen-text, #waiting-players-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    font-style: italic;
}

#start-screen-text {
    width: 75%;
    max-width: 75%;
}

#waiting-players-text {
    font-size: 5vh;
}

/*
    NOTIF
*/

#notification-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(50% - var(--margin));
    right: var(--margin);
    top: var(--margin);
}

.notification {
    margin-bottom: 0.5vh;
    border-right: none;
    border-radius: var(--roundness);
    height: fit-content;
    min-height: 2vh;
    overflow: hidden;
}

.notification-icon-holder {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3vh;
    background-color: var(--container-color);
    margin: -0.5vh;
    margin-right: 0.5vh;
    border-radius: var(--roundness) 0 0 var(--roundness);
}

.notification-icon {
    position: absolute;
    font-size: 1.8vh;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0.1vh 0.1vh 0.2vh #00000050;
}

/* 
    ADMIN
*/
#admin {
    display: none;
}

#admin-text, #admin-submode {
    position: absolute;
    left: 50%;
    bottom: calc(var(--margin) * 3);
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: var(--main-color);
    opacity: unset;
    font-weight: bold;
    border-bottom: solid 0.4vh var(--main-color);
}

#admin-submode {
    bottom: calc(var(--margin) * 2);
    color: var(--text-color);
    font-size: 2vh;
    border: none;
}

/*
    SCOREBOARD
*/
.menu {
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--roundness);
    background-color: var(--bg-color);
    box-shadow: 0 0 0.5vh var(--shadow-color);
    overflow: hidden;
    backdrop-filter: blur(1vh);
}

.menu-header {
    position: relative;
    font-size: 2.5vh;
    height: fit-content;
    color: var(--text-color);
    background-color: var(--main-color);
    font-weight: bold;
    padding: 0.5vh 1vh;
    background: repeating-linear-gradient(
        45deg,
        var(--main-color),
        var(--main-color) 1vh,
        var(--main-color-2) 1vh,
        var(--main-color-2) 2vh
    );
    box-shadow: 0 1px 0.5vh var(--shadow-color);
}

.menu-subtitle {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
    padding-top: auto;
    padding-bottom: auto;
    height: 4vh;
    line-height: 4vh;
    background-color: var(--bg-color);
    background: repeating-linear-gradient(
        -45deg,
        var(--bg-color),
        var(--bg-color) 1vh,
        var(--bg-color-2) 1vh,
        var(--bg-color-2) 2vh
    );
}

#scoreboard {
    display: none;
    width: 80vh;
    height: 50vh;
}

#scoreboard-list-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.scoreboard-line {
    font-size: 2vh;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: var(--bg-color-2);
    padding: 0.5vh;
    margin-top: unset;
    border-radius: var(--roundness);
    border-bottom: solid 1px var(--bg-color);
}

.scoreboard-line-content {
    width: 100%;
    overflow: hidden;
    font-size: 1.8vh;
    padding: unset;
    padding-left: 0.5vh;
}

/*
    Voice HUD
*/
#voice-hud-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5vh;
    position: absolute;
    height: calc(50vh - var(--margin));
    bottom: var(--margin);
    right: var(--margin);
}

/*
    Rules
*/
#rules {
    display: none;
    width: 95vh;
}

.rules-content {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    padding-bottom: 2vh;
}

.rule-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    gap: 2vh;
    padding: 1.5vh;
    /* border-top: solid 1px var(--bg-color);
    border-left: none;
    border-right: none; */
    background: radial-gradient(
        circle at 0vh 50%,
        var(--bg-color-2) 0%,
        var(--bg-color-2) 12vh,
        transparent 12vh,
        transparent 100%
    );
    border-radius: 20vh 0 0 20vh;
}
.rules-image, .rules-image:before {
    min-width: 16vh;
    min-height: 16vh;
    background: url("./images/loot.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: solid 0.5vh var(--shadow-color);
    box-sizing: border-box;
    /* box-shadow: inset 0 0 3vh black; */
    box-shadow:
        inset 0 -0.5vh 1vh var(--shadow-color),
        0 0 0 0.25vh var(--shadow-color),
        0 0 1vh var(--shadow-color);
}

.rules-image:before {
    background: none;
    content: "";
    display: block;
    position: absolute;
    border: dashed 0.5vh var(--main-color);
    top: 1.5vh;
    left: 1.5vh;
  }

.rules-text-content {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: rebeccapurple; */
}

.rules-title {
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 1vh;
}